*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: ;
}
header{
    background-color: aqua;

}
.side{

}
main{
    background-color: blueviolet;
}
footer{
    background-color: brown;
}