body{
    background: linear-gradient(to right, rgb(118, 118, 118), rgb(0, 0, 0));
}
li{
    color: darkgreen;
    background-color: black;
}

#parrafos{
    color: greenyellow; font-size: 25px;
    background-color: darkgreen;
}
#imagen3{
    width: 150px;
}
.Subtitulos{
    font-size: 25px; color: aqua;
}

#Chucho{
    width: 150px;
}