*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;

}
.contenedor{
    background-color: rgb(32, 240, 240);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 0, 0, 0, 0.5;
    
}

